body {
  background: #fbe2ed;
  background: radial-gradient(circle, #fbe2edae 0%, #202c3a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

header {
  font-size: 300%;
  font-weight: bold;
}

.temp {
  display: flex;
}

.weather-forecast {
  background-color: #202c3a7a;
  border-radius: 5px;
  color: #ffff;
  max-width: 500px;
  max-height: 300px;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 2px;
  padding: 8px;
}

.weather-data {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

form {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  background-image: url("../img/weather-1.png");
}

.input {
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.input:focus {
  border: none;
  outline: 2px solid olivedrab;
}

.input::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search {
  border: none;
  width: 60px;
  padding: 0;
  background-color: #e6d8e700;
  cursor: pointer;
}

.weather-4-u {
  display: block;
}

.error-prompt {
  position: absolute;
  display: flex;
  width: 100%;
  height: 120%;
  background-color: #000000f7;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.error-msg {
  color: red;
  padding: 0;
  margin: 0;
}

.close {
  display: block;
  padding: 5px 7px;
  cursor: pointer;
  margin: 20px auto;
  font-size: large;
  text-align: center;
  border: none;
  background-color: #ffff;
  transition: all 200ms ease-in;
}

.close:hover {
  background-color: #e2e2e2;
  transition: all 200ms ease-in;
}

.close:active {
  background-color: #858585;
  transition: all 20ms ease-in;
}

.lds-dual-ring {
  margin: 80px auto 0;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px auto;
  border-radius: 50%;
  border: 6px solid #05b61d;
  border-color: #05b61d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.none {
  display: none;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
