@import "https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=DynaPuff&display=swap";

body {
  color: #ffff;
  background: url("../img/liquid.svg");
  background-size: cover;
  font-family: "Reem Kufi Fun", sans-serif;
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  font-size: 12px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

p {
  margin: 2px;
}

header {
  font-size: 200%;
  font-weight: bold;
}

.cloudy,
.sunny,
.snowy,
.rainy {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  animation: back-img 10s linear infinite;
}

.cloudy {
  background: url("../img/clouds.svg");
  background-size: cover;
}

.sunny {
  background: url("../img/sun-tornado.svg");
  background-size: cover;
}

.snowy {
  background: url("../img/Snow.svg");
  background-size: cover;
}

.rainy {
  background: url("../img/Sprinkle.svg");
  background-size: cover;
}

.thunder {
  background: url("../img/thunder.svg");
  background-color: #220c3f80;
  background-size: cover;
}

.temp,
.humidity,
.wind-speed,
.current-feels-like {
  display: flex;
  word-spacing: 4px;
}

.heading {
  font-family: DynaPuff, cursive;
  color: #c7c7c7;
  text-shadow: 2px 4px 1px black;
  text-align: center;
}

.weather-forecast,
.current {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #220c7265, #250a5863);
  border-radius: 10px;
  color: #ffff;
  flex-wrap: wrap;
  box-shadow: #32325d40 0 20px 40px -20px, #cfa2a24d 0 15px 30px -30px, #79899a59 0 -2px 6px 0 inset;
  padding: 8px;
  margin: 10px;
}

.weather-forecast {
  width: 45%;
}

.current {
  font-size: large;
  background: #7164b433;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(3px);
  border: 1px solid #ffffff4d;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.weather-description,
.current-weather-desc {
  text-transform: capitalize;
}

.search-icon {
  width: 20px;
}

.weather-description {
  font-weight: bold;
  font-size: 25px;
  padding: 3px 0;
}

.current-weather-desc,
.current-temp {
  font-size: 160%;
  text-shadow: 4px 2px black;
}

.current-temp {
  font-size: 200%;
}

.text-box {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: stretch;
}

.toggle {
  margin-left: 100px;
  position: absolute;
}

.input {
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: large;
  font-weight: 700;
  width: 60%;
  border-radius: 25px 0 0 25px;
  padding: 20px;
  height: 15px;
  border: none;
}

.input:focus {
  border: none;
  outline: none;
}

.input::placeholder {
  font-family: "Reem Kufi Fun", sans-serif;
  font-weight: bold;
  word-spacing: 3px;
}

.search {
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 15px;
  background-color: #ffff;
  cursor: pointer;
}

.weather,
.current-weather {
  padding: 10px 20px 10px 0;
  font-size: large;
  border-radius: 15px;
}

.current-weather {
  padding: 0 2%;
}

.current-icon {
  width: 20%;
}

.error-prompt {
  z-index: 10;
  position: absolute;
  display: flex;
  width: 100%;
  height: 120%;
  background-color: #000000f7;
  justify-content: center;
  align-items: center;
}

.error-msg {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: red;
  padding: 0;
  margin: 0;
  font-size: large;
}

.empty-input-container {
  transform: translateY(-100px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: empty-input 500ms linear forwards;
}

.empty-input-prompt {
  background-color: #0b0522;
  border-radius: 20px;
  padding: 20px 50px;
  margin-top: 100px;
  word-spacing: 6px;
  font-size: 1.2rem;
  position: absolute;
}

.empty-input-prompt > button {
  padding: 10px 30px;
  border-radius: 20px;
  margin-left: 40px;
  border: none;
  color: red;
  background-color: white;
  font-size: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.empty-input-prompt > button:hover {
  background-color: #d8d1d1;
  transition: all 200ms ease-in-out;
}

.card-date {
  text-align: right;
  font-weight: 700;
}

.close {
  display: block;
  padding: 5px 7px;
  cursor: pointer;
  margin: 20px auto;
  font-size: large;
  text-align: center;
  border: none;
  background-color: #ffff;
  transition: all 200ms ease-in;
}

.close:hover {
  background-color: #e2e2e2;
  transition: all 200ms ease-in;
}

.close:active {
  background-color: #858585;
  transition: all 20ms ease-in;
}

.lds-dual-ring {
  margin: 80px auto 0;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px auto;
  border-radius: 50%;
  border: 6px solid #e6e9f1;
  border-color: #e6e9f1 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.none {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  font-size: smaller;
  padding-left: 6px;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  word-spacing: 4px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 30%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  transform: translateX(26px);
  transform: translateX(26px);
  transform: translateX(26px);
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes empty-input {
  0% {
    transform: translateY(-100px);
  }

  30% {
    transform: translateY(80px);
  }

  70% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(80px);
  }
}

@media screen and (max-width: 770px) {
  .weather-forecast {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .weather {
    font-size: 14px;
  }

  .weather-description {
    font-size: 20px;
  }

  .api-icon {
    width: 80px;
  }

  .weather-forecast {
    min-width: 90%;
  }

  .current {
    margin-top: 50px;
    max-width: 90%;
  }

  .heading {
    margin: 10px;
  }

  .empty-input-prompt {
    padding: 20px 30px;
    width: 80%;
    text-align: center;
    font-size: small;
  }

  .empty-input-prompt > button {
    padding: 5px 15px;
    display: block;
    margin: 10px auto;
  }

  .toggle {
    position: relative;
    display: flex;
    margin: -5px 0 0;
    justify-content: center;
    align-items: center;
  }

  @keyframes empty-input {
    0% {
      transform: translateY(-100px);
    }

    30% {
      transform: translateY(170px);
    }

    70% {
      transform: translateY(120px);
    }

    100% {
      transform: translateY(150px);
    }
  }
}

@media screen and (max-width: 400px) {
  .weather {
    font-size: 12px;
    width: 100%;
  }

  .weather-description {
    font-size: 15px;
  }

  .api-icon {
    width: 50px;
  }

  .weather-forecast {
    min-width: 90%;
  }

  .current {
    min-width: 90%;
  }

  .current-weather {
    font-size: small;
  }
}
